extends layout
block layout-content
  div.View
    div.BannerName
      h1 BullsEye
    div.BannerIcon
      image(src="eye.jfif")
  div.Content
    div.CreateTeam
      h3 Create your Team
      form.team(action="team", method="post") 
        input#name(type="text", name="TeamName", placeholder="Enter your Team Name")
        br
        input#admin(type="text",name="AdminName", placeholder="Enter your name")
        br
        input#submit(type="submit", value="Done")    